# Simulation outputs
/figure4/figure4B-C.Each_type_stimulation/simulation/labial_result/
/figure4/figure4B-C.Each_type_stimulation/simulation/tarsal_result/
figure4/figure4A.3D_rendering_of_each_type/neurons.pkl
